
<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Otra Info
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2019 <a href="#">Fundación SL <%= title %></a>.</strong> Todos los derechos Reservados.
  </footer>